body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34; /* dark grey, blue tint */
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: #777; /* medium grey */
  color: white;
  border-radius: 2rem;
  box-shadow: 0 0 1rem white;
}
