.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(255, 255, 255, 0.305); /* white with opacity */
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.movie-card:hover {
    cursor: pointer;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5rem;
}

.favorite-button {
    background: none;
    border: none;
}

.favorite-button:hover {
    background: none;
}

.heart.favorited {
    color: red;
}

.heart.not-favorited {
    color: grey;
}

.watched-button {
    background: none;
    border: none;
    font-size: 1.25rem;
}

.watched-button:hover {
    background: none;
}

.check.filled {
    color: greenyellow;
}

.check.unfilled {
    color: grey;
}