.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.load-more-button {
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.sort-container {
    margin: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: rgb(192, 192, 192);
    padding: 1em;
}
.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 10em;
}

.layout {
    display: flex;
    flex-direction: row;
}