.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.load-more-button {
    margin: 1rem;
}

header.search-sort {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.sort-container {
    margin: 1rem;
    color: white;
}

.dropdown {
    height: 1.7rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: #1f222a;
    padding: 1rem;
}
.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 10rem;
}

.layout {
    display: flex;
    flex-direction: row;
}