.search-form {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.search-bar {
    width: 20rem;
    height: 1.5rem;
}

.button {
    margin: 0rem 0.3rem;
}